language: php

sudo: false
dist: trusty

php:
  - 7.1
  - 7.2
  - nightly

cache:
  directories:
    - $HOME/.composer/cache

matrix:
  fast_finish: true

before_script:
  - phpenv config-rm xdebug.ini
  - composer update --prefer-dist --prefer-lowest --prefer-stable

script: composer test