includes:
    - extension.neon

parameters:
    ignoreErrors:
        - '~\$undefinedProperty~'
        - '~assertFalse\(\) with true will always evaluate to false~'
        - '~Casting to string something~'