<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php" colors="true" timeoutForSmallTests="0">
    <testsuites>
        <testsuite name="Bytemap Test Suite">
            <directory>tests/Bytemap/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">src/Bytemap/</directory>
        </whitelist>
    </filter>
</phpunit>