version: 2
jobs:
    composer:
        macos: 
            xcode: "9.4"

        working_directory: ~/bytemap

        steps:
            - checkout
            - run:
                command: system_profiler SPSoftwareDataType
            - run: |
                brew update
                brew install php71
                curl -sS https://getcomposer.org/installer | php
                php composer.phar global show hirak/prestissimo -q || php composer.phar global require --no-interaction --no-progress --optimize-autoloader hirak/prestissimo
            - run: |
                php composer.phar install --optimize-autoloader --no-interaction --no-progress --no-suggest
                php composer.phar show -p
                php composer.phar show
 
    php71:
        macos:
            xcode: "9.4"

        working_directory: ~/bytemap

        steps:
            - run: |
                brew ls --versions php72 && brew uninstall php72 
                brew install php71
            - run:
                name: PHPUnit
                command: vendor/bin/phpunit

    php72:
        macos:
            xcode: "9.4"

        working_directory: ~/bytemap

        steps:
            - run: |
                brew ls --versions php71 && brew uninstall php71
                brew install php72
            - run:
                name: PHPUnit
                command: vendor/bin/phpunit

workflows:
    version: 2

    test:
        jobs:
            - composer
            - php71:
                requires:
                    - composer
            - php72:
                requires:
                    - composer